body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  
  .drinkImg {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  .drinkName {
    white-space: nowrap;
  }
  .indent {
    padding-left: 30px;
  }

  .inline {
    display: inline;
  }